<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.arc.sid.timetable">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/icon"
        android:theme="@style/AppTheme">


        <activity
        android:clearTaskOnLaunch="true"
        android:label="@string/app_name"
        android:name="com.arc.sid.timetable.MainActivity"
        android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
        android:label="@string/title_activity_monday"
        android:logo="@drawable/icon"
        android:name="com.arc.sid.timetable.Monday"
        android:parentActivityName="com.arc.sid.timetable.MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.arc.sid.timetable.MainActivity"/>
        </activity>

        <activity
        android:label="@string/title_activity_tuesday"
        android:name="com.arc.sid.timetable.Tuesday"
        android:parentActivityName="com.arc.sid.timetable.MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.arc.sid.timetable.MainActivity"/>
        </activity>

        <activity
        android:label="@string/title_activity_wednesday"
        android:name="com.arc.sid.timetable.Wednesday"
        android:parentActivityName="com.arc.sid.timetable.MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.arc.sid.timetable.MainActivity"/>
        </activity>

        <activity
        android:label="@string/title_activity_thursday"
        android:name="com.arc.sid.timetable.Thursday"
        android:parentActivityName="com.arc.sid.timetable.MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.arc.sid.timetable.MainActivity"/>
        </activity>

        <activity
        android:label="@string/title_activity_friday"
        android:name="com.arc.sid.timetable.Friday"
        android:parentActivityName="com.arc.sid.timetable.MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.arc.sid.timetable.MainActivity"/>
        </activity>

        <receiver android:name="com.arc.sid.timetable.MondayNotificationService"/>
        <receiver android:name="com.arc.sid.timetable.TuesdayNotificationService"/>
        <receiver android:name="com.arc.sid.timetable.WednesdayNotificationService"/>
        <receiver android:name="com.arc.sid.timetable.ThursdayNotificationService"/>
        <receiver android:name="com.arc.sid.timetable.FridayNotificationService"/>
    </application>
</manifest>
